body {
  background: bisque;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: magenta;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 25px;
}

.croissant-introduction {
  margin: 0 auto;
  font-size: 28px;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}

.contact-request {
  text-align: center;
  font-size: 28px;
}

.email-address {
  text-align: center;
  font-size: 28px;
  color: blueviolet;
}

.email-address:hover {
  color: magenta;
  text-decoration: underline;
  cursor: pointer;
}

.homepage-link,
.contact-link,
.gallery-link {
  text-decoration: none;
  color: magenta;
}

.croissant-introduction {
  margin-bottom: 25px;
}
